# **HOMEWORK No. 1**

**Imports**

In [3]:
import numpy as np
import pandas as pd

**Question No. 1**

In [70]:
print("Installed NumPy version: ", np.__version__)

Installed NumPy version:  1.22.3

**Question No. 2**

In [192]:
df = pd.read_csv("data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [193]:
print(f"There are {df.shape[0]} entries")

There are 11914 entries

**Question No. 3**

In [194]:
print("The top 3 most frequent manufacturers are:")
df["Make"].value_counts().head(3)

The top 3 most frequent manufacturers are:

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

**Question No. 4**

In [195]:
unique_audi_models = df[df["Make"] == "Audi"]["Model"].nunique()
print(f"The number of unique Audi car models in the dataset is: {unique_audi_models}")

The number of unique Audi car models in the dataset is: 34

**Question No. 5**

In [196]:
count = 0
for col in df.columns:
    if df[col].isnull().sum() != 0:
        count += 1

print(f"There are {count} columns in the dataset with missing values.")

There are 5 columns in the dataset with missing values.

In [197]:
null_cols = (df.isnull().sum() != 0).sum()
print(f"There are {null_cols} columns in the dataset with missing values.")

There are 5 columns in the dataset with missing values.

**Question No. 6**

In [198]:
median_ec = df["Engine Cylinders"].median()
print(f"The median value of the column 'Engine Cylinders' is: {median_ec}")

ec_count = df["Engine Cylinders"].value_counts()
most_freq_value = ec_count.index[0]
print(f"The most frequent value is: {most_freq_value}")

df["Engine Cylinders"] = df["Engine Cylinders"].fillna(most_freq_value)
new_median_ec = df["Engine Cylinders"].median()
print(f"The new median value is: {new_median_ec}")

if median_ec == new_median_ec:
    print("The median didn't change.")
else:
    print("The median value changed.")

The median value of the column 'Engine Cylinders' is: 6.0
The most frequent value is: 4.0
The new median value is: 6.0
The median didn't change.

**Question No. 7**

In [199]:
X = df[df["Make"] == "Lotus"][["Engine HP", "Engine Cylinders"]].drop_duplicates().values
trans_X = X.T
XTX = trans_X.dot(X)
inv_xtx = np.linalg.inv(XTX)
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
M = inv_xtx.dot(X.T)
w = M.dot(y)
print(f"The value of the first element of w is: {w[0].round(4)}")

The value of the first element of w is: 4.5949

In [201]:
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
w = (XTX_inv @ X.T) @ y
w[0]

4.594944810094579